<form method="post">
  Please copy and paste your email addresses below - one per line.<br />
  <textarea rows="50" cols="50"name="data"></textarea>
  <br />
  <input type="submit" name="submit" value="Submit" />
</form>